$padding: 10px;
$mobile-break: 600px;

// map container
$map-height: 700px;
$map-width: 500px;

// polygons
$poly-stroke-color: black;
$poly-stroke-width: 0.5px;
$poly-fill-opacity: 0.6;

// classes
$timePeriods: 'old', 'interwar', 'postwar', 'liberal', 'reagan', 'contemporary';
$transitModes: 'railroad', 'highway';

// transition time
$t: 0.2s;

// graph
$chart-height: 200px;
$bar-color: #a769a7;
$bar-width: 30px;