$spacing: 10px;
$spacing-lg: 20px;
$mobile-break: 900px;
$medium-break: 1200px;

// map container
$map-height: 700px;
$map-width: 500px;

// polygons
$poly-stroke-color: black;
$poly-stroke-width: 0.2px;
$poly-fill-opacity: 0.5;
$metrics: (
	building-period: ('0': white, '250': #f1e6f1, '500': #e2cde2, '1000': #d3b4d3, '2000': #c59bc5, '4000': #b682b6, '8000': #a769a7),
	building-cumulative: ('0': white, '250': #f1e6f1, '500': #e2cde2, '1000': #d3b4d3, '2000': #c59bc5, '4000': #b682b6, '8000': #a769a7),
	building-density-period: ('0': white, '125': #f1e6f1, '250': #e2cde2, '500': #d3b4d3, '1000': #c59bc5, '2000': #b682b6, '4000': #a769a7),
	building-density-cumulative: ('0': white, '250': #f1e6f1, '500': #e2cde2, '1000': #d3b4d3, '2000': #c59bc5, '4000': #b682b6, '8000': #a769a7),
	pop-density: ('0': white, '250': #efdfdf, '500': #dfbfbf, '1000': #cf9f9f, '2000': #bf8080, '4000': #af6060, '8000': #9e4040, '16000': #8e2020, '32000': #7e0000)
);

// lines
$transit-width: 0.8px;
$railroad-color: #4f5efc;
$highway-color: #d34444;
$county-color: #3f3f3f;

// classes
$timePeriods: 'old', 'interwar', 'postwar', 'liberal', 'reagan', 'contemporary';
$transitModes: 'railroad', 'highway', 'county';

// transition time
$t: 0.2s;

// graph
$chart-width: 250px;
$chart-height: 200px;
$bar-color: #a769a7;
$bar-width: 30px;

// fonts
$font-size-sm: 10pt;