@import 'settings.scss';

body {
	font-family: 'Georgia';
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $spacing 0;
	line-height: 1.2;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4, h5 {
	font-size: 12pt;
}

h5, h6 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* not sure where to put this */
.nj-muni-map__muni-legend {
	fill-opacity: 0;
	&--translucent {
		rect {
			fill-opacity: $poly-fill-opacity;
		}
	}
	&--opaque {
		rect {
			fill-opacity: 1;
		}
	}
}