@import 'settings.scss';

body {
	font-family: 'Georgia';
}

h1, h2, h3, h4, h5 {
	margin: 0 0 $spacing 0;
	line-height: 1.2;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4, h5 {
	font-size: 12pt;
}

h5 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}